on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12.3"

      - name: Install dependencies
        run: |
          pip install pipenv
          pipenv sync

      - name: Build and deploy the site
        run: pipenv run mkdocs -V
