on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v6

      - name: Install dependencies
        run: |
          pip install mkdocs-material
          pip install mkdocs-exclude

      - name: Build and deploy the site
        run: mkdocs gh-deploy --force
