on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6

      - name: Install dependencies
        run: |
          pip install pipenv
          pipenv install

      - name: Build and deploy the site
        run: pipenv run mkdocs
